body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  background-color: blue;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  width: 100%;
}

.content-pictures {
  display: flex;
  justify-content: space-around;
}

.content-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
}

.info-board {
  display: flex;
}

.score-board {
}

.human-score {
}

.computer-score {
}
